<div class="navbar clear-fix">
    <div class="left-box clear-fix">
        <figure><img src="http://localhost:3000/static/images/escudo-sinborde-min.png" alt=""></figure>
        <h1>Club Jubilar de Casavalle</h1>
    </div>
    <div class="right-box">
        <ul class="clear-fix">
            <li><a href="http://">Inicio</a></li>
            <li><a href="http://">Cajas</a></li>
            <li><a href="http://">Jugadores</a></li>
            <li>
            </li>
        </ul>
    </div>
</div>